


네트워크
-> 통신

Database <----> Server <----> Client(app,web...)

Local Database의 한계
- 동기화가 어렵다.
- 상호작용이 불가능하다.

서버와 통신하는 방법
- 해당 URL로 요청한다.
- 인증정보를 보낸다.
- JSON 형식을 사용해서 데이터를 보낸다.

JSON parsing
-> JSON 을 코틀린이나 자바가 이해할 수 있게 변형하는 과정

Serializable (직렬화)


